*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    // background colors
    --bg-primary-color: #492828;
    --bg-fill-color: #ECECEC;
    --bg-ground-color: #656D3F;

    // text colors
    --text-primary-color: #eee;

    //spacing variables
    --space-xs: .4vw;
    --space-sm: .8vw;
    --space-md: 1.5vw;
    --space-lg: 2vw;
    --space-xl: 3vw;
    --space-2xl: 5vw;
    --space-3xl: 6vw;

    //border colors
    --border-primary-color: #333;

    // border radius
    --border-radius-sm: .4vw;
    --border-radius-md: .8vw;
    --border-radius-lg: 1.2vw;
    --border-radius-xl: 1.6vw;
    --border-radius-2xl: 2vw;
    --border-radius-3xl: 2.4vw;
}

@mixin flex-center($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    section{
        padding: var(--space-lg);
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: var(--space-md);
        .infos{
            width: 100%;    
            display: flex;
            justify-content: space-between;

            .info{
                padding: var(--space-sm) var(--space-sm);
                border: 1px solid var(--border-primary-color);
                border-radius: var(--border-radius-md);
            }
        }
        .board{
            border-radius: 1vw;
            background-color: var(--bg-ground-color);
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));

            .fill{
                background-color: var(--bg-fill-color);
                border-radius: 40%;
                color: #111;
            }

            .food{
                background-image: url(https://static.vecteezy.com/system/resources/previews/047/130/682/original/apple-fruit-cartoon-illustration-isolated-on-transparent-background-free-png.png);
                background-size: cover;
                object-position: center;
                border-radius: 50%;
            }
        }   
    }

    .modal{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: rgba(81, 80, 80, 0.2);
        backdrop-filter: blur(4px);
        @include flex-center();
        text-align: center;

        .start-game,.game-over{
            @include flex-center(var(--space-md));
            flex-direction: column;
        }

        .game-over{
            display: none;
        }

        .btn{
            padding: var(--space-sm) var(--space-md);
            border: none;
            font-weight: 600;
            font-size: 1rem;
            border-radius: var(--border-radius-lg);
            cursor: pointer;
            transition: all ease .3s;
        }

        .btn:active{
            scale: .95;
        }
    }
}